*{
    text-decoration: none;
}

body{
    display:inline;
    background-color: #FAF0E6;
    margin-left: 0px;
    margin-right: 0px;
}

a:visited{
    color: #333333;
}

a:hover{
    color:#4B6F43;
    transition:0.4s;
}

.product{
    justify-content: space-around;
    display: flex;
    background-color:#E7D0AD;
    width: 700px;
    height: 550px;
    align-items: center;
}

.product_link{
    height: 20px;
    margin-left: 10%;
    font-family: 'Cormorant Garamond';
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 30px;
}

.product_pict_select{
    margin-top:7px;
}

.product_pict_select img{
    height: 120px;
    opacity: 0.50;
}

.name_product {
    font-size: 30px;
    font-family: 'Philosopher';
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}

.name_product1 {
    font-size: 30px;
    margin-top: 40px;
    font-family: 'Philosopher';
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name_product1 span{
    font-size: 20px;
}

.size{
    font-size:25px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.size span{
    margin-right: 0.5em;
}

.price_product1{
    font-size: 30px;
}

.btn{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 300px;
    height: 50px;
    color: #ffffff;
    background-color: #BA9755;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 75px;
    
}

.btn:hover{
    color: #FAF0E6;
    background-color: #4B6F43;
}

.btn_size{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: auto;
    height: 25px;
    color: #ffffff;
    background-color: #BA9755;
    cursor: pointer;
    transition: 0.4s; 
    margin-right: 0.3em;
}

.btn_size:hover{
    color: #FAF0E6;
    background-color: #4B6F43;
}

.pict_description{
    margin-top: 45px;
    display: flex;
    justify-content:center ;
}

.description_txt_product{
    display: inline-block;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-size: 20px;
}
.description_name_product{
    font-size: 20px;
    font-family: 'Philosopher';
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment_info{
    display: flex;
    justify-content: space-evenly;
    background-color: #E7D0AD;
    margin-top: 50px;
    padding: 20px;
}

.last_part{
    display: flex;
    justify-content: space-around;
    background-color: #BA9755;
    padding: 50px;
    color: #FAF0E6;
}

.heol_logo_snd{
    height: 60px;
}

.div_img_heol_logo_secondaire{
    align-items: center;
}
.adress{
    display: inline-block;
    margin-top: 20px;
}

.product_show{
    display: flex;
    justify-content: space-between;
}

.last_part_title{
    font-family: "Philosopher";
    font-size: 24px;
    font-weight: bolder;
}

.adress_txt{
    display: inline-block;
    margin-top: 20px;
    font-family: "Cormorant Garamond";
    font-size: 20px;
}

.social_media_grp{
    display: flex;
    flex-direction: column;
}

.social_media_img{
    display: inline-block;
    margin-top: 20px;
    height: 35px;
}

.img_4_spcial_grp{
    display: flex;
    justify-content: space-around;
}

.contact_num{
    display: inline-block;
    margin-top: 20px;
    font-family: "Cormorant Garamond";
    font-size: 20px;
}

.product_number{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.btn_cart{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 25px;
    height: 25px;
    color: #ffffff;
    background-color: #BA9755;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 25px;
    margin-right: 25px;
}

.btn_cart:hover{
    color: #FAF0E6;
    background-color: #4B6F43;
}

.description_product1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description_product1_txt{
    max-width: 72em;
}

@media screen and (max-width:1300px){
    .description_product1_txt{
        max-width: 60em;
    }
}

@media screen and (max-width:1000px) {
    .description_product1_txt{
        max-width: 50em;
    }
    .btn{
        width: 250px;
        font-size: 20px;
    }
    .product_show{
        align-items: center;
        flex-direction: column;
    }
    .product{
        width: 100%;
    }
    .nav_bar{
        display: none;
    }
    
    
}

@media screen and (max-width:850px) {
    .description_product1_txt{
        max-width: 40em;
    }
}

@media screen and (max-width:750px) {
    .name_product1 h2{
        font-size:30px
    }
    .description_txt_product{
        font-size:18px ;
    }
    .pict_description{
        height: 350px;
    }
    .price_product1{
        margin-top: 30px
    }
    .product{
        width: auto;
    }
}

@media screen and (max-width:650px) {
    .description_product1_txt{
        max-width: 35em;
    }
    .name_product{
        font-size: 25px;
    }
}

@media screen and (max-width:600px) {
    .name_product1 h2{
        font-size:20px
    }
    .btn{
        width: 200px;
        height: 40px;
        font-size: 18px;
        margin-top: 50px;
    }
    .description_name_product{
        font-size: 15px;
    }
    .description_product1_txt{
        max-width: 30em;
    }
    .product_pict_view img{
        height: 300px;
    }
    .product_pict_select img{
        height: 100px;
    }
    .product{
        height: auto;
    }
    .pict_description{
        height: 300px;
    }
    .description_txt_product {
        font-size: 15px;
    }
}

@media screen and (max-width:500px) {
    .description_product1_txt{
        max-width: 25em;
    }
    .name_product{
        font-size: 20px;
    }
    .name_product1 h2{
        font-size: 20px
    }
    .name_product1{
        margin-top: 20px
    }
    .price_product1{
        margin-top: 15px;
    }
    .product_pict_view img{
        height: 275px;
    }
    .product_pict_select img{
        height: 85px;
    }
}

@media screen and (max-width:450px) {
    .description_product1_txt{
        max-width: 20em;
    }
    .product_pict_view img{
        height: 250px;
    }
    .product_pict_select img{
        height: 75px;
    }
    .pict_description{
        height: 250px;
    }
}

@media screen and (max-width:400px) {
    .description_product1_txt{
        max-width: 15em;
    }
    .name_product1{
        margin-top: 0px
    }
    .btn{
        margin-top: 20px;
    }
    .price_product1{
        margin-top: 0px;
    }
    .product_pict_view img{
        height: 200px;
    }
    .product_pict_select img{
        height: 50px;
    }
    .name_product{
        font-size: 15px;
    }
    .price_product1{
        font-size: 20px;
    }
    .name_product1{
        font-size: 20px;
    }
    .description_name_product{
        font-size: 12px;
    }
}