*{
    text-decoration: none;
}
body{
    display:inline;
    background-color: #FAF0E6;
    margin-left: 0px;
    margin-right: 0px;
}

a:visited{
    color: #333333;
}

.nav_bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 23px;
    color: #333333;    
}
a:hover{
    color:#4B6F43;
    transition:0.4s;
}

.access_menu{
    display: flex;
    justify-content: center;
}

.bag_logo{
    height: 24px;
    background-color: #E7D0AD;
    padding: 10px;
    border-radius: 20px;
}

.log_in{
    padding-left: 4px;
}
.product_show{
    justify-content: flex-start;
    display: flex;
}
.product{
    display: flex;
    background-color:#E7D0AD;
    width: 700px;
    height: 550px;
    justify-content: space-between;
}

.product_link{
    height: 20px;
    margin-left: 160px;
    font-family: 'Cormorant Garamond';
    font-weight: 800;
    margin-bottom: 30px;
}

.product_pict_select{
    margin-left: 100px;
    margin-top:7px;
}
.product_pict_select img{
    height: 120px;
    opacity: 0.50;
}
.product_pict_view{
    display: block;
    margin: auto;
      
}
.name_product1 {
    margin-left: 100px;
    margin-top: 40px;
    font-family: 'Philosopher';
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name_product1 h2{
    font-size: 35px;
}
.name_product1 span{
    font-size: 20px;
}
.product_size{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.price_product1{
    margin-top: 58px;
    font-size: 30px ;
}
.btn{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 300px;
    height: 50px;
    color: #ffffff;
    background-color: #BA9755;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 75px;
    
}
.btn:hover{
    color: #FAF0E6;
    background-color: #4B6F43;
}

.btn_size{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: auto;
    height: 40px;
    color: #ffffff;
    background-color: #BA9755;
    cursor: pointer;
    transition: 0.4s; 
}
.btn_size:hover{
    color: #FAF0E6;
    background-color: #4B6F43;
}
.pict_description{
    margin-top: 45px;
    display: flex;
    justify-content:center ;
}

.description_txt_product{
    display: inline-block;
    
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-size: 20px;
}
.name_product{
    margin-left: 100px;
    
    font-family: 'Philosopher';
    justify-content: flex-start;
    align-items: center;
}



.payment_info{
    display: flex;
    justify-content: space-evenly;
    background-color: #E7D0AD;
    margin-top: 50px;
    padding: 20px;
}

.last_party{
    display: flex;
    justify-content: space-around;
    background-color: #BA9755;
    padding: 50px;
    color: #FAF0E6;
}

.heol_logo_snd{
    height: 60px;
}

.div_img_heol_logo_secondaire{
    align-items: center;
}
.adress{
    display: inline-block;
    margin-top: 20px;
}

.last_party_title{
    font-family: "Philosopher";
    font-size: 24px;
    font-weight: bolder;
}

.adress_txt{
    display: inline-block;
    margin-top: 20px;
    font-family: "Cormorant Garamond";
    font-size: 20px;
}

.social_media_grp{
    display: flex;
    flex-direction: column;
}

.social_media_img{
    display: inline-block;
    margin-top: 20px;
    height: 35px;
}

.img_4_spcial_grp{
    display: flex;
    justify-content: space-around;
}

.contact_num{
    display: inline-block;
    margin-top: 20px;
    font-family: "Cormorant Garamond";
    font-size: 20px;
}

.product_number{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.btn_cart{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 25px;
    height: 25px;
    color: #ffffff;
    background-color: #BA9755;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 25px;
    margin-right: 25px;
    
    
}
.btn_cart:hover{
    color: #FAF0E6;
    background-color: #4B6F43;
}