*{
    text-decoration: none;
}
a:visited{
    color: #333333;
}
.nav_bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 23px;
    color: #333333;    
}

.access_menu{
    display: flex;
    justify-content: center;
}

.bag_logo{
    height: 24px;
    background-color: #E7D0AD;
    padding: 10px;
    border-radius: 20px;
}

.log_in{
    padding-left: 4px;
}

.product_show{
    display: flex;
    justify-content: center;
    position: absolute;
    padding-left: 50px;
    width: 1400px;
    height: 500px;
    left: 200px;
    top: 159px;
    background: #E7D0AD;
}

.product_show_img{
    position: relative;
    height: 700px;
    left: -350px;
    top: -50px;
}

.name_product_show{
    display: inline-block;
    font-size: 50px;
    font-family: 'Philosopher';
    margin-top: 100px;
}

.description_txt_product{
    display: inline-block;
    margin-top: 30px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-size: 20px;
}

.bottom_line_product_show{
    margin-top: 50px;
    border-top: 1px solid #000;
    width : 100px; 
}

.discovery{
    display: inline-block;
    color: #333333;
    font-family: 'Cormorant Garamond';
    font-size: 30px;
    margin-top: 8px;
}

.bottom_line_product_show2{
    margin-top: 40px;
    border-top: 1px solid #000;
    width : 100px; 
}
.product{
    background-color:#E7D0AD;
    position: absolute;
    width: 700px;
    height: 550px;
    left: 0px;
    top: 215px;
    display: flex;

    
}
.product_link{
    height: 20px;
    margin-left: 160px;
    font-family: 'Cormorant Garamond';
    font-weight: 800;
}

.product_pict_select{
    margin-left: 100px;
}
.product_pict_select img{
    height: 120px;
    opacity: 0.50;
}

.show_2_product{
    margin-top: 700px;
    display: flex;
    justify-content: space-evenly;
}

.shoe_img{
    height: 300px;
}

.sock_img{
    height: 300px;
}

.shoe_title{
    font-family: 'Philosopher';
    font-size: 20px;
    font-weight: bold;
}

.sock_title{
    font-family: 'Philosopher';
    font-size: 20px;
    font-weight: bold;
}

.sock_txt{
    display: inline-block;
    margin-top: 5px;
    font-family: 'Cormorant Garamond';
    font-size: 20px;
    font-weight: 500;
}

.shoe_txt{
    display: inline-block;
    margin-top: 5px;
    font-family: 'Cormorant Garamond';
    font-size: 20px;
    font-weight: 500;
}

.discovery_shoe{
    display: inline-block;
    margin-top: 5px;
    font-family: 'Philosopher';
    font-size: 20px;
}

.discovery_sock{
    display: inline-block;
    margin-top: 5px;
    font-family: 'Philosopher';
    font-size: 20px;
}

.bottom_line_2_product_show{
    margin-top: 10px;
    border-top: 1px solid #000;
    width : 100px; 
}

.sock_discovery_display{
    display: flex;
}

.shoe_discovery_display{
    display: flex;
}